:root {
  --thumb-w: 80px;
  --thumb-h: 45px;
  --thumbs-py: 10px;
  --thumbs-h: calc(var(--thumb-h) + (var(--thumbs-py) * 2))
}

@keyframes fade-in {
  to {opacity: 1}
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  transition: 1s background;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  background: center center no-repeat;
  background-size: contain;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  display: grid;
  /* grid-template-rows: 1fr minmax(--thumbs-h, auto-fit) auto;*/
  grid-template-rows: 1fr auto auto;

  height: 100vh;
  overflow: hidden;
}

.photo {
  grid-row: 1;

  display: grid;
  justify-content: center;
  align-content: center;

  overflow: hidden;
  position: relative;
  margin: 20px 0;
}

.photo::before {
  content: "loading";
  
  display: grid;
  justify-content: center;
  align-content: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.photo__dummy,
.photo img {
  animation: 1s forwards fade-in;

  display: block;
  width: 100%;
  max-height: 100%;
  opacity: 0;
  object-fit: contain;
}

.photo__dummy {
  position: relative;
  height: 100px;
  background: hotpink;
}

/* Thumbs
------------------------------------------------------------------------------*/
.thumbs {
  grid-row: 2;

  display: flex;

  overflow-x: auto;
  overflow-y: hidden;
  height: var(--thumbs-h);
  padding: var(--thumbs-py) 0;
  background: rgba(0,0,0,0.25);
}

.thumbs__link {
  flex: 0 0 auto;
  
  animation: 1s forwards fade-in;
  
  width: var(--thumb-w);
  height: var(--thumb-h);
  margin: 0 1px;
  opacity: 0;
  background: rgba(0,0,0,0.5);
}

.thumbs__link:focus {
  outline: 1px solid white;
}

.thumbs__thumb {
  animation: 1s forwards fade-in;

  display: block;
  width: 100%;
  height: 100%;
  max-height: var(--thumb-h);
  opacity: 0;
  object-fit: cover;
  pointer-events: none;
}

/* Controls
------------------------------------------------------------------------------*/
.controls {
  grid-row: 3;

  display: grid;
  grid-gap: 5px;
  align-items: center;

  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.25);
}

.search,
.search__input,
.btn {
  transition: 0.5s background-color, 0.5s color;
  
  padding: 5px 10px;
  border: none;
  border-radius: 9999px;
  font: inherit;
  background: #fff;
}

.btn {
  text-align: center;
}

.btn:hover {
  background: #333;
  color: #ccc;
}

.search {
  display: flex;
  align-items: center;

  padding: 2px 2px 2px 10px;
  background: #333;
  color: #ccc;
}

.search__label {
  margin-right: 5px;
}

.search__input {
  flex: 1;
  background: #fff;
}

.search__btn {
  border: none;
  font: inherit;
  background: none;
}

/*----------------------------------------------------------------------------*/
// Mediaquery overrides
/*----------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .thumbs {
    justify-content: center;
  }
  .controls {
    display: flex;
    justify-content: space-between;
  }
}